/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Luxurious Roman";
  src: url("../font/LuxuriousRoman-Regular.woff2") format("woff2"), url("../font/LuxuriousRoman-Regular.woff") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

html{
  font-family: "Luxurious Roman";
}
body{
  width: 100vw;
  height: 100vh;
}