/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Luxurious Roman";
  src: url("../font/LuxuriousRoman-Regular.woff2") format("woff2"), url("../font/LuxuriousRoman-Regular.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* Mode 1 */
  /* colors */
  --azul-flojo-dark: #5ab3b0;
  --azul-flojo-light: #eaf5f5;
  
  --azul-claro-dark: #489d8e;
  --azul-claro-light: #dcefed;
  
  --azul-intermedio-dark: #408c84;
  --azul-intermedio-light: #c0e2dd;
  
  --azul-oscuro-dark: #234d46;
  --azul-oscuro-light: #5ab3b0;
  
  --azul-fuerte-dark: #1a3836;
  --azul-fuerte-light: #326c62;
}



/* ******************************** */

html{
  font-family: "Luxurious Roman";
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/*Etiqueta header*/
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100vw;
  height: 10vh;
}
/*Nombre del proyecto*/
.password_forge {
  margin: 0;
}
/*Section que almacena las etiquetas de los botones*/
.botones {
  display: flex;
}

/*Boton de log in y register*/
.btn_logIn,
.btn_register {
  margin-left: 10px;
  text-decoration: none;
  padding: 8px 16px;
  color: #333;
}

/*Etiqueta main  del cuerpo de la página*/
.cuerpo{
  width: 100vw;
  height: 70vh;
}

/*Section que almacena todas las etiquetas de la parte del generador*/
.generador{
  display: flex;  
  justify-content: center;
}
/*Subsection que almacena el titulo, la zona de generado y un subsection de los botones*/
.content{
  display: flex;
  flex-direction: column;
}
/*Subsection de los botones*/
.botones_pass{
  display: flex;
}
/*Seccion que contiene las etiquetas del apartado que es*/
.que_es{
  display: flex;
  justify-content: center;
}
/*Subseccion que almacena un h2 y una p*/
.subsection{
  display: flex;
  flex-direction: column;
}
/*Imagen de la seccion que es*/
.imagen{
  width: 50vw;
}
/*Footer*/
.pie{
  width: 100vw;
  height: 20vh;
  display: flex;
  padding: 20px;
}
/*Secciones que almacenan las etiquetas de los logos y los nombres de las redes sociales*/
.redes_sociales,
.iconos{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*Imagen del logo*/
.logo{
  order: -1;
}